.fungal-shift:nth-child(even) {
  background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
}
.perk > img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
}
.perk-active {
  background-color: hsla(var(--a) / var(--tw-bg-opacity, 1));
}
.perk-gambled {
  background-color: hsla(var(--wa) / var(--tw-bg-opacity, 1));
  cursor: default;
}
.perk-reroll {
  background: url("img/perk_reroll.png") center -17px / contain no-repeat;
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  user-select: none;
}
.lbl-holding-flask {
  padding-top: 0;
  padding-bottom: 0;
}
.stat-value {
  font-size: 20px;
}
.scuffed-idiot-hacks {
  position: absolute;
}
.cssbutton {
  background-color: crimson;
  border: 10px solid crimson;
  border-radius: 1.5em;
  top: 30px;
}
#savescumtitle {
  text-align: center;
  left: 50%;
  transform: translate(-50%, 0%);
}
#savescumcontainer {
  background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
  margin: 10px;
  padding: auto;
  width: 405px;
  height: 80px;
  left: 300px;
  top: 0px;
}
#alchemycontainer {
  visibility: hidden;
  background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
  margin: 10px;
  padding: auto;
  width: 320px;
  height: 107px;
  left: 590px;
  top: 450px;
}
#lc {
  position: relative;
  background-color: teal;
  width: 152px;
  left: 5px;
  top: 5px;
}
#ap {
  position: relative;
  background-color: teal;
  width: 152px;
  left: 162px;
  bottom: 91px;
}
.alch-comp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
.centered {
  text-align: center;
  right: 50%;
}
#loadbutton {
  left: 100px;
}
#opensaves {
  left: 195px;
}
#opennoita {
  left: 320px;
}
@media (max-width: 108px) {
  .seed-criteria {
    display: block;
  }
}
