body, html
{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

#content
{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0px;
}

#savescumcontainer {
  z-index: 1;
  position: fixed;
  text-align: center;
  background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
  margin: 10px;
  padding: auto;
  width: 405px;
  height: 80px;
  right: 100px;
  top: 20px;
}
#savescumcontainer .buttons {
  display: flex;
}
#savescumcontainer button {
  background-color: crimson;
  border: 10px solid crimson;
  border-radius: 1.5em;
}
#alchemycontainer {
  display: flex;
  z-index: 1;
  visibility: hidden;
  position: fixed;
  background-color: hsla(var(--b2) / var(--tw-bg-opacity, 1));
  margin: 10px;
  padding: auto;
  width: 320px;
  right: 50px;
  bottom: 50px;
}
#alchemycontainer div {
  width: 50%;
  background-color: teal;
  margin: 3px;
}

.alch-comp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  text-transform: capitalize;
}
.centered {
  text-align: center;
  right: 50%;
}
#loadbutton {
  left: 100px;
}
#opensaves {
  left: 195px;
}
#opennoita {
  left: 320px;
}
